.banner {
  display: flex;
  background-color: #21ccbe; 
}

.banner a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  flex: 1; 
  text-align: center;
}

.banner a:hover {
  background-color: #ddd;
  color: black;
}

div {
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
}