.banner {
  display: flex;
  background-color: #21ccbe; 
}

.banner a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  flex: 1; 
  text-align: center;
}

.banner a:hover {
  background-color: #ddd;
  color: black;
}

div {
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
}

#banner{
  background-color:blue;
  color:white;
  padding:20px;
}

div {
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color: rgb(0, 255, 42);
}

