.banner {
  display: flex;
  background-color: #21ccbe; 
}

.banner a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  flex: 1; 
  text-align: center;
}

.banner a:hover {
  background-color: #ddd;
  color: black;
}

#banner{
  background-color:blue;
  color:white;
  padding:20px;
}

div {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.container{
  display:flex;
}

.column{
  flex-direction:column;
}

.center{
  align-items:center;
  justify-content:center;
}

#home {
background-color: rgb(0, 255, 42);
}
































